* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* hero section starts */
.hero {
    /* border: 3px solid black; */
    background: url(./Images/images.png);
    height: 100vh;
}

.hero-content {
    /* border: 3px solid purple; */
    width: 90%;
    margin: 0 auto;
}

.menu {
    /* border: 3px solid tomato; */
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #ffffff;
    font-weight: 600;
    font-size: 30px;
}

.logo span {
    color: rgb(65, 201, 65);
}

.menu-bar {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.menu-bar ul {
    color: white;
    display: flex;
    list-style: none;

}

.menu-bar li {
    font-size: 20px;
    padding: 20px;
    margin-right: 10px;
}
.menu-bar a{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.8s ease;
}

.menu-bar a:hover {
    color: rgb(65, 201, 65);
}

.ui-btn {
    --btn-default-bg: rgb(41, 41, 41);
    --btn-padding: 15px 20px;
    --btn-hover-bg: rgb(51, 51, 51);
    --btn-transition: .3s;
    --btn-letter-spacing: .1rem;
    --btn-animation-duration: 1.2s;
    --btn-shadow-color: rgba(0, 0, 0, 0.137);
    --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
    --hover-btn-color: #FAC921;
    --default-btn-color: #fff;
    --font-size: 16px;
    /* 👆 this field should not be empty */
    --font-weight: 600;
    --font-family: Menlo, Roboto Mono, monospace;
    /* 👆 this field should not be empty */
}

/* button settings 👆 */

.ui-btn {
    border-radius: 15px;
    box-sizing: border-box;
    /* padding: var(--btn-padding); */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-btn-color);
    font: var(--font-weight) var(--font-size) var(--font-family);
    background: var(--btn-default-bg);
    border: none;
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;
    box-shadow: var(--btn-shadow);
}

.ui-btn span {
    letter-spacing: var(--btn-letter-spacing);
    transition: var(--btn-transition);
    box-sizing: border-box;
    position: relative;
    padding: 19px;
    font-size: 20px;
    background: inherit;
}

.ui-btn span::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    background: inherit;
}

.ui-btn:hover,
.ui-btn:focus {
    background: var(--btn-hover-bg);
}

.ui-btn:hover span,
.ui-btn:focus span {
    color: var(--hover-btn-color);
}

.ui-btn:hover span::before,
.ui-btn:focus span::before {
    animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
    0% {
        content: "#";
    }

    5% {
        content: ".";
    }

    10% {
        content: "^{";
    }

    15% {
        content: "-!";
    }

    20% {
        content: "#$_";
    }

    25% {
        content: "№:0";
    }

    30% {
        content: "#{+.";
    }

    35% {
        content: "@}-?";
    }

    40% {
        content: "?{4@%";
    }

    45% {
        content: "=.,^!";
    }

    50% {
        content: "?2@%";
    }

    55% {
        content: "\;1}]";
    }

    60% {
        content: "?{%:%";
        right: 0;
    }

    65% {
        content: "|{f[4";
        right: 0;
    }

    70% {
        content: "{4%0%";
        right: 0;
    }

    75% {
        content: "'1_0<";
        right: 0;
    }

    80% {
        content: "{0%";
        right: 0;
    }

    85% {
        content: "]>'";
        right: 0;
    }

    90% {
        content: "4";
        right: 0;
    }

    95% {
        content: "2";
        right: 0;
    }

    100% {
        content: "";
        right: 0;
    }
}

.hero-button {
    background: rgb(65, 201, 65);
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 150px;
    height: 55px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    transition: all 0.8s ease;
}

.hero-button:hover {
    background: transparent;
    border: 2px solid rgb(65, 201, 65);
    color: rgb(65, 201, 65);
}

.hero-content-writeup {
    color: #ffffff;
    line-height: 70px;
    font-size: 60px;
    transform: translateY(110px);
    font-weight: 600;
}

.hero-content-writeup span {
    color: rgb(65, 201, 65);
}

.hero-content-writeup p {
    margin: 15px 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 25px;
}

.first-image {
    width: 780px;
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    right: 5px;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* about section starts */
.about {
    margin: 50px 0;
}

.header {
    width: 90%;
    margin: 0 auto;
}

.header h2 {
    font-weight: 800;
    font-size: 50px;
    line-height: 45px;
    color: rgb(0, 0, 32);
}

.header span {
    color: rgb(65, 201, 65);
}

.header p {
    color: rgb(126, 126, 126);
    line-height: 20px;
    margin: 15px 0;
    font-weight: 500;
}

.Dishes {
    /* border: 3px solid tomato; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    /* border: 3px solid yellow; */
    width: 32%;
    margin-bottom: 25px;
    min-width: 250px;
    border-radius: 20px;
    box-shadow: 4px 4px 6px rgb(172, 172, 172);
}

.food-image {
    /* border: 3px solid green; */
    border-radius: 20px;
    overflow: hidden;
    height: 320px;
    object-fit: contain;
    object-position: center;
}

.food-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.food-name {
    /* border: 3px solid navy; */
    margin: 15px 0;
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.food-name p {
    border-bottom: 2px solid rgb(49, 110, 134);
    color: rgb(0, 0, 32);
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 20px;
}

.food-name span {
    color: rgb(126, 126, 126);
    line-height: 25px;
}

.food-price {
    /* border: 3px solid black; */
    padding: 5px;
    color: rgb(0, 0, 32);
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}

.welcome {
    /* border: 3px solid green; */
    background: rgb(255, 222, 228);
    padding-top: 25px;
}

.welcome-writeup {
    width: 90%;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.welcome-content p {
    margin: 15px 0 40px 0;
    line-height: 23px;
    color: rgb(126, 126, 126);
}

.cta {
    width: 90%;
    margin: 40px auto 50px auto;
}

.cta-showcase {
    /* border: 3px solid purple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #ffffff;
    border-radius: 20px;
    height: 400px;
    background: url(./Images/beef.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 4px 6px 8px rgb(172, 172, 172);
}

.cta-showcase h2 {
    color: rgb(65, 201, 65);
    font-size: 70px;
}

.cta-showcase span {
    font-size: 40px;
    font-weight: 550;
}

.btn {
    margin-top: 25px;
    cursor: pointer;
    display: block !important;
    width: 12%;
    height: 50px;
    color: rgb(0, 0, 32);
    font-size: 18px;
    font-weight: 550;
    border: none;
    border-radius: 15px;
    padding: 13px;
    transition: all 0.6s ease;
}

.btn:hover {
    background: transparent;
    border: none;
    font-size: 22px;
    color: rgb(65, 201, 65);
}

.review {
    /* border: 3px solid yellow; */
    padding: 30px;
    background: rgb(255, 222, 228);
}

.review-content {
    /* border: 3px solid green; */
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto 0 auto;
}

.review-card {
    /* border: 3px solid black; */
    padding: 15px;
}

.review-card-header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.review-ccard-header-name {
    margin-left: 10px;
}

.review-ccard-header-name p {
    color: rgb(0, 0, 32);
    font-weight: 800;
    font-size: 20px;
}

.review-ccard-header-name span {
    color: rgb(126, 126, 126);
}

.review-ccard-header-pics {
    /* border: 3px solid tomato; */
    width: 60px;
    overflow: hidden;
    height: 60px;
    border-radius: 50%;
    object-fit: contain;
}

.customers-review {
    color: rgb(95, 95, 95);
    line-height: 25px;
    font-size: 20px;
}

/* about section ends */

/* menu section starts */
.carousel-container {
    /* border: 3px solid tomato; */
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.carousel-item {
    /* border: 3px solid yellow; */
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    width: 49%;
    margin-bottom: 15px;
    box-shadow: 2px 2px 4px rgb(172, 172, 172);
}

.carousel-image {
    /* border: 3px solid green; */
    border-radius: 20px;
    overflow: hidden;
    height: 200px;
    object-fit: contain;
    object-position: center;
}

.carousel-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-content {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.items {
    color: rgb(126, 126, 126);
    margin-bottom: 13px;

}

.names {
    font-weight: 550;
    font-size: 20px;
    color: rgb(0, 0, 32);
    border-bottom: 2px solid rgb(85, 85, 192);
}

.prices {
    color: rgb(126, 126, 126);
    font-weight: 550;
    margin-top: 13px;
}

.btns {
    color: rgb(0, 0, 32);
    font-weight: 550;
    border: none;
    cursor: pointer;
    margin-top: 13px;
    background: transparent;
    font-size: 20px;
    display: flex;
    align-items: start;
}
.books{
    margin: 50px 0;
}
.books-content{
    /* border: 3px solid tomato; */
    width: 90%;
    margin: 0 auto;
    background: rgb(65, 201, 65);
    text-align: center;
    border-radius: 25px;
    padding: 20px;
}
.books-content h1{
    font-weight: 550;
    font-size: 50px;
    color: #ffffff;
}
.buttons {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 35px 0;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    background: transparent;
    outline: 2px solid #ffffff;
}

.buttons:hover {
    color: rgb(65, 201, 65);
    transform: scale(1.1);
    outline: none;
    box-shadow: 4px 5px 17px -4px #ffffff;
}

.buttons::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #ffffff;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.buttons:hover::before {
    width: 250%;
}
/* menu section ends */

/* contact section starts */
.contact{
    background: rgb(0, 0, 32);
    color: #ffffff;
    padding: 30px;
}
.contact-footer{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.contact-content h2{
    font-weight: 550;
    font-size: 20px;
    margin-top: 10px;
}
.contact-content p{
    color: whitesmoke;
    line-height: 30px;
    font-size: 20px;
    margin-top: 20px;
}
.icon-holder {
    /* border: 3px solid green; */
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 25px;
}

.icon-holder a {
    text-decoration: none;
    color: #ffffff;
}
.footer{
    background: rgb(65, 201, 65);
    padding: 20px;
}
.footer-content{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: #ffffff;
}
.footer-content {
    font-size: 20px;
}
/* contact section ends */